body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#lupa {
    color: #80868b;
    width: 40px;
    height: 50px;
}

.icono {
    width: 50px;
    height: 50px;
}
#cuadro {
    width: 30px; /* Ajusta el ancho según tus preferencias */
    height: 30px; /* Ajusta la altura según tus preferencias */
}

#cuadro svg {
    width: 100%;
    height: 100%;
}


main li img {
    width: 300px;
    height: 100px;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

header ul li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

header a {
    text-decoration: none;
    color: #141415; /* Color azul característico de Google */
    font-family: 'Arial', sans-serif;
}

header ul li {
    margin: 10px;
}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#caja-buscador {
    display: flex;
    justify-content: center;
    border: 1px solid #dfe1e5;
    min-height: 44px;
    max-width: 584px;
    width: 538px;
    border-radius: 22px;
    margin: 20px 0;
}

#caja-buscador input {
    width: 100%; /* Modificado para ocupar todo el ancho disponible */
    padding: 10px; /* Añadido espacio interno */
    outline: none;
    border: none;
}

#caja-buscador .icono {
    margin: 7px;
}

button {
    background-color: #f8f9fa; /* Color de fondo más claro */
    border: 1px solid #dfe1e5;
    height: 36px;
    min-width: 80px;
    margin: 10px 4px;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;
    padding: 5px;
}

footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

footer ul li {
    margin: 10px;
}

#opciones {
    display: flex;
}

footer #opciones {
    margin-left: auto;
    border-top: 1px solid #c1c4c8;
    padding-top: 10px; /* Ajustado el espaciado superior */
}

footer #opciones ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer #opciones ul li {
    margin: 10px;
}

footer a {
    text-decoration: none;
    color: #5f6368; /* Color de texto gris característico de Google */
    font-family: 'Arial', sans-serif;
}

footer a:hover {
    text-decoration: underline;
    color: #000; /* Cambio de color al pasar el ratón */
}


footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

footer ul li {
    margin: 10px;
}

#opciones {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    width: 100%; /* Asegura que los elementos ocupen todo el ancho del contenedor */
}

#opciones ul {
    display: flex;
}

#opciones ul li {
    margin: 10px;
}

footer a {
    text-decoration: none;
    color: #5f6368;
    font-family: 'Arial', sans-serif;
}

footer a:hover {
    text-decoration: underline;
    color: #000;
}
