body {
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', sans-serif;
}

/*  id="lupa"        cuando sea para un solo elemento */
#lupa {
    color: #80868b;
    width: 40px;
    height:50px;
}

/*  class="icono"    cuando sea para uno o más elementos                           */
.icono {
    width: 50px;
    height:50px;
}

main li img
{
    width: 300px;
    height:100px;
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    
}

header ul li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

header a {
    text-decoration: none;
    color: #151414;
    font-family: 'Arial', sans-serif;
}

header ul li{
    margin: 10px;
    
}


main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#caja-buscador {
    display: flex;
    justify-content: center;
    border: 1px solid #dfe1e5;
    min-height: 44px;
    max-width: 584px;
    width: 538px;
    border-radius: 22px;
    margin: 20px 0;
}

#caja-buscador input {
    width: 400px;
    outline: none;
    border: none;
}

#caja-buscador .icono {
    margin: 7px;
}

button {
    background-color: #e1e5e9;
    border: #dfe1e5;
    height: 36px;
    min-width: 80px; /* Aumenta el ancho mínimo de los botones */
    margin: 10px 4px;
    padding: 0 16px;
    border-radius: 4px;
}

footer {
    background-color: #f2f2f2;
    padding: 5px; /* Añadido espacio interno al pie de página */
}

footer ul{
    
    list-style-type: none;
    display: flex;
    align-items: center;
}

footer ul li{
    
    margin: 10px;
}

#opciones {
    
    display: flex;
}



/* Añadido estilo para el contenedor de opciones en el pie de página */
footer #opciones {
    margin-left: auto; /* Mueve el contenedor al extremo derecho */
    border-top: 1px solid #c1c4c8; /* Añadido borde superior */
    padding-top: 0px; /* Espaciado superior para separar del contenido anterior */
}

/* Alineación de los elementos en el contenedor de opciones */
footer #opciones ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los elementos al final del contenedor */
}

/* Espaciado entre los elementos en el contenedor de opciones */
footer #opciones ul li {
    margin: 10px;
}

/* Estilo de los enlaces en el pie de página */
footer a {
    text-decoration: none;
    color: #151414;
    font-family: 'Arial', sans-serif;
}

/* Cambiado estilo de los enlaces al pasar el mouse */
footer a:hover {
    text-decoration: underline;
}



